<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Processed Image</title>
</head>

<body>
    <h1>Processed Image</h1>

    <h2>Final Image</h2>
    <img src="{{ url_for('static', filename=filename) }}" alt="Processed Image">

    <h2>Time Taken for Processing</h2>
    <p>t1: {{ t1 }}</p>
    <p>t2: {{ t2 }}</p>

    <a href="{{ url_for('download_file', filename=filename) }}" download>
        <button>Download Final Image</button>
    </a>
</body>

</html>
